<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>
{% liquid
  if settings.social_facebook_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_twitter_link != blank
    assign has_social_links = true
  endif
%}
{%- style -%}
  .header {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
    background-color: var(--primary-background);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: sticky;
    width:100%;
    top: 0;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
  }
  @media screen and (min-width: 768px) {
    .header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
      z-index: 5;
    }
  }
  @media screen and (min-width: 992px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<header class="header">
  {% comment %} Visible on devices with a width below 768px{% endcomment %}
  {%- liquid
    if section.settings.menu != blank
      render 'header-mobile'
    endif
  -%}
  {% comment %} Visible on devices with a width above 768px{% endcomment %}
  {%- liquid
    if section.settings.menu != blank
      render 'header-desktop'
    endif
  -%}
</header>
{% comment %} nav and overlay Visible on devices with a width below 768px {% endcomment %}
<nav class="menu_container">
  <div class="close_icon_container">
    <span class="close">
      {% render 'icon-close' %}
    </span>
  </div>
  <ul class="menu h3">
    {%- for link in section.settings.menu.links -%}
      <li class="menu-link">
        {%- if link.links != blank -%}
          <div>
            <div class="link_container">
              <span>
                {{- link.title | escape -}}
              </span>
              {% render 'icon-caret' %}
            </div>
            <div class="wrapper">
              <ul class="dropdown-child">
                {%- for childlink in link.links -%}
                  <li class="child_menu-link menu-link">
                    {%- if childlink.links == blank -%}
                      <a href="{{ childlink.url }}">
                        {{ childlink.title | escape }}
                      </a>
                    {%- else -%}
                      <div class="link_container">
                        <span>{{ childlink.title | escape }}</span>
                        {% render 'icon-caret' %}
                      </div>
                      <div class="wrapper">
                        <ul class="dropdown-grandchild">
                          {%- for grandchildlink in childlink.links -%}
                            <li class="menu-link grandchild_menu-link">
                              <a href="{{ grandchildlink.url }}">
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        {%- else -%}
          <a href="{{ link.url }}">
            <span>
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
  <div class="navbar_links_container">
    {%- if shop.customer_accounts_enabled -%}
      <a
        class="mobail_account_container"
        href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
      >
        {% render 'icon-account' -%}
        <span>Log in</span>
      </a>
      {% if has_social_links %}
        {% render 'social-links', device: 'mobail-social_links_container' %}
      {% endif %}
    {%- endif -%}
  </div>
</nav>
<div class="overlay"></div>

{% schema %}
{
  "name": "Header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom margin",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 12
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 12
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
