<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
{% liquid
  if settings.social_facebook_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_twitter_link != blank
    assign has_social_links = true
  endif
%}
<style>
  .header {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
    background-color: var(--primary-background);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: -webkit-sticky;
    position: sticky;
    width:100%;
    top: 0;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
  }
  @media screen and (min-width: 768px) {
    .header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
      z-index: 5;
    }
  }
  @media screen and (min-width: 992px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .header_search_container{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    inset: 0;
    background-color: var(--primary-background);
  }
  .header_search_container.active{
    display: flex;
  }
  .header_search_form{
    position: relative;
  }
  #Search{
    padding: 0.3rem 1rem;
    width: 80vw;
    max-width: 80rem;
    display: block;
    outline: none;
    border: 2px solid var(--base-color);
  }
  @media screen and (min-width: 768px) {
    #Search{
      padding: 0.3rem 1rem;
      width: 90vw;
    }
  }
  /* clears the ‘X’ from Internet Explorer */
  input[type=search]::-ms-clear {
    display: none;
    width : 0;
    height: 0;
  }
  input[type=search]::-ms-reveal {
    display: none;
    width : 0;
    height: 0;
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration
  {
    display: none;
  }
  .header_search_icon{
    all: unset;
    position: absolute;
    top:0.6rem ;
    right: 1rem;
  }
  .header_search_icon span svg{
    width: 2rem;
  }
</style>

<header class="header">
  {% comment %} Visible on devices with a width below 768px{% endcomment %}
  {%- liquid
    if section.settings.menu != blank
      render 'header-mobile'
    endif
  -%}
  {% comment %} Visible on devices with a width above 768px{% endcomment %}
  {%- liquid
    if section.settings.menu != blank
      render 'header-desktop'
    endif
  -%}

  <predictive-search>
    <section class="header_search_container">
      <form action="{{ routes.search_url }}" method="get" role="search" class="header_search_form">
        <input
          id="Search"
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          role="combobox"
          aria-expanded="false"
          aria-owns="predictive-search-results"
          aria-controls="predictive-search-results"
          aria-haspopup="listbox"
          aria-autocomplete="list"
          placeholder="Search"
          autofocus
        >
        <button class="header_search_icon">
          <span>
            {% render 'icon-search' %}
          </span>
          {{ predictive_search.terms }}
        </button>
        <input name="options[prefix]" type="hidden" value="last">

        <div id="predictive-search" tabindex="-1"></div>
      </form>
      <span class="header_search_close">
        {% render 'icon-close' %}
      </span>
    </section>
  </predictive-search>
</header>
{% comment %} nav and overlay Visible on devices with a width below 768px {% endcomment %}
<nav class="menu_container">
  <div class="close_icon_container">
    <span class="close">
      {% render 'icon-close' %}
    </span>
  </div>
  <ul class="menu h3">
    {%- for link in section.settings.menu.links -%}
      <li class="menu-link">
        {%- if link.links != blank -%}
          <div>
            <div class="link_container">
              <span>
                {{- link.title | escape -}}
              </span>
              {% render 'icon-caret' %}
            </div>
            <div class="wrapper">
              <ul class="dropdown-child">
                {%- for childlink in link.links -%}
                  <li class="child_menu-link menu-link">
                    {%- if childlink.links == blank -%}
                      <a href="{{ childlink.url }}">
                        {{ childlink.title | escape }}
                      </a>
                    {%- else -%}
                      <div class="link_container">
                        <span>{{ childlink.title | escape }}</span>
                        {% render 'icon-caret' %}
                      </div>
                      <div class="wrapper">
                        <ul class="dropdown-grandchild">
                          {%- for grandchildlink in childlink.links -%}
                            <li class="menu-link grandchild_menu-link">
                              <a href="{{ grandchildlink.url }}">
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        {%- else -%}
          <a href="{{ link.url }}">
            <span>
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
  <div class="navbar_links_container">
    {%- if shop.customer_accounts_enabled -%}
      <a
        class="mobail_account_container"
        href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
      >
        {% render 'icon-account' -%}
        <span>Log in</span>
      </a>
      {% if has_social_links %}
        {% render 'social-links', device: 'mobail-social_links_container' %}
      {% endif %}
    {%- endif -%}
  </div>
</nav>
<div class="overlay"></div>
<script>
  const searchIcons = document.querySelectorAll('.search_icon');

  searchIcons.forEach((searchIcon) => {
    searchIcon.addEventListener('click', () => {
      document.querySelector('.header_search_container').classList.toggle('active');
      document.getElementById('Search').focus();
      document.getElementById('Search').selectionStart = document.getElementById('Search').selectionEnd =
        document.getElementById('Search').value.length;
    });
  });
  document.querySelector('.header_search_close').addEventListener('click', () => {
    document.querySelector('.header_search_container').classList.toggle('active');
  });
</script>
{% schema %}
{
  "name": "Header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom margin",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 12
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 12
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
