<style>
  .main_register_container{
    text-align: center;
    margin-top: {{section.settings.main_register_margin_top| times: 0.5 | round: 0}}px;
    margin-bottom: {{section.settings.main_register_margin_bottom| times: 0.5 | round: 0}}px;
  }
  @media screen and (min-width: 768px) {
    .main_register_container{
      margin-top: {{section.settings.main_register_margin_top}}px;
      margin-bottom: {{section.settings.main_register_margin_bottom}}px;
    }
  }
  .main_register_container h1{
    margin-bottom: 3rem;
  }
  .customer_form input[type="email"],
  .customer_form input[type="password"],
  .customer_form input[type="text"]{
    background-color: #F6F7FA;
    border: 2px solid transparent;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 30rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--base-color);
    outline: none;
  }
  .customer_form input[type="email"]:hover,
  .customer_form input[type="password"]:hover,
  .customer_form input[type="text"]:hover{
    border: 2px solid var(--base-color);
  }
  .customer_form input[type="email"]:focus,
  .customer_form input[type="password"]:focus,
  .customer_form input[type="text"]:focus{
    border: 2px solid var(--base-color);
  }
  .register_submit input{
    all: unset;
    color: var(--primary-background);
    background-color: var(--accent-color);
    font-weight: 600;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
</style>
<section class="main_register_container">
  <h1>Create account</h1>
  <div class="customer_form">
    {% form 'create_customer' %}
      {{ form.errors | default_errors }}

      <div class="first-name">
        <input
          type="text"
          name="customer[first_name]"
          {% if form.first_name %}
            value="{{ form.first_name }}"
          {% endif %}
          placeholder="First name"
        >
      </div>

      <div class="last-name">
        <input
          type="text"
          name="customer[last_name]"
          {% if form.last_name %}
            value="{{ form.last_name }}"
          {% endif %}
          placeholder="Last name"
        >
      </div>

      <div class="email">
        <input
          type="email"
          name="customer[email]"
          {% if form.email %}
            value="{{ form.email }}"
          {% endif %}
          placeholder="Email"
        >
      </div>

      <div class="password">
        <input type="password" name="customer[password]" placeholder="Password">
      </div>

      <div class="register_submit">
        <input type="submit" value="Create">
      </div>
    {% endform %}
  </div>
</section>
{% schema %}
{
  "name": "Register",
  "settings": [
    {
      "type": "header",
      "content": "Section margin"
    },
    {
      "type": "range",
      "id": "main_register_margin_top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Top margin",
      "default": 45
    },
    {
      "type": "range",
      "id": "main_register_margin_bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Bottom margin",
      "default": 45
    }
  ],
  "presets": [
    {
      "name": "Register"
    }
  ]
}
{% endschema %}
