<style>
  .new_arrival_container{
    margin-top: {{section.settings.new_arrival_top_margin| times: 0.5 | round: 0}}px;
    margin-bottom: {{section.settings.new_arrival_bottom_margin| times: 0.5 | round: 0}}px;
  }
  @media screen and (min-width: 768px) {
    .new_arrival_container {
      margin-top: {{section.settings.new_arrival_top_margin}}px;
      margin-bottom: {{section.settings.new_arrival_bottom_margin}}px;
    }
  }
  .new_arrival_container h1{
    text-align: center;
    color: var(--accent-color);
    margin-bottom:{{section.settings.new_arrival_top_margin| times: 0.5 | round: 0}}px;
  }
  @media screen and (min-width: 768px) {
    .new_arrival_container h1{
      margin-bottom:{{section.settings.new_arrival_top_margin}}px;
    }
  }
  .product_card_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }
  @media screen and (min-width: 768px) {
    .product_card_container{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 1.5rem;
    }
  }
  @media screen and (min-width: 992px) {
    .product_card_container{
      grid-template-columns: repeat(4,1fr);
      gap: 2.5rem;
    }
  }
  .product_card{
    display: grid;
    grid-template-rows: auto 1fr;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1rem;
    overflow: hidden;
    font-weight: 600;
    cursor: pointer;
    perspective: 1000px;
  }
  .product_card img{
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }
  .product_card:hover img{
    transform: translateZ(20px);
  }
  .product_card .product_content{
    padding: 1rem;
  }
  .product_content .brand{
    font-weight: 400;
  }
  .product_content .price_container{
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .price_container .current_price{
    color: var(--accent-color);
  }
  .price_container .real_price{
    text-decoration: line-through;
    color: gray;
  }
</style>
<section class="new_arrival_container">
  <h1>New Arrival</h1>
  <div class="new_arrival_items">
    <div class="product_card_container">
      {% for product in collections.frontpage.products %}
        <div class="product_card">
          <img src="{{product.featured_image | image_url: width: 250}}" alt="">
          <div class="product_content">
            <p class="brand">Brand : {{ product.vendor }}</p>
            <p>{{ product.title }}</p>
            <div class="price_container">
              <p class="current_price">{{ product.price | money_without_trailing_zeros }}</p>
              <p class="real_price">{{ product.compare_at_price | money_without_trailing_zeros }}</p>
            </div>
          </div>
          <button class="btn_add_to_cart">Add to cart</button>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "New Arrival",
  "settings": [
    {
      "type": "header",
      "content": "Section margin"
    },
    {
      "type": "range",
      "id": "new_arrival_top_margin",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Top margin",
      "default": 45
    },
    {
      "type": "range",
      "id": "new_arrival_bottom_margin",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Bottom margin",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "New Arrival"
    }
  ]
}
{% endschema %}
